<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{th/layout/basebiz}">

<!-- style add -->
<th:block layout:fragment="headStyle">
</th:block>

<!-- searchForm hidden add -->
<th:block layout:fragment="searchFormHidden">
</th:block>

<!-- filter -->
<th:block layout:fragment="filter">
	<div class="tabMargin"></div>
	<div class="scroll">
		<div class="view_combo" id="divItem"></div>
	    <div class="view_combo" id="divProcurType"></div>
	    <div class="view_combo" id="divItemType"></div>
	    <div class="view_combo" id="divReptItemGroup"></div>
	    <div class="view_combo" id="divRoute"></div>
	    <div class="view_combo" id="divRepCust">
	        <div class="ilist">
	            <div class="itit" th:text="#{lbl.reptCust}"></div>
	            <input type="text" id="reptCust" name="reptCust" class="ipt">
	        </div>
	    </div>
	    <div class="view_combo" id="divRepCustGroup"></div>
	    <div class="view_combo" id="divFireWorkYn"></div>
	    <div class="view_combo" id="divCleaningYn"></div>
	    <div class="view_combo" id="divLpYn"></div>
	    <div class="view_combo" id="divOsYn"></div>
	    <div class="view_combo" id="divValidYn"></div>
	    <div class="view_combo" id="divValidYnERP"></div>
	    <div class="view_combo" id="divValiDate">
	        <div class="ilist">
	            <div class="itit" style="width:59px;" th:text="#{lbl.validDate}">></div>
	            <input type="text" id="validDateFrom" name="validDateFrom" class="iptdate datepicker2" value="2016-08-23"> <span class="ihpen">~</span>
	            <input type="text" id="validDateTo"   name="validDateTo"   class="iptdate datepicker2" value="2016-08-23">
	        </div>
	    </div>
	</div>
</th:block>

<!-- grid 영역 -->
<th:block layout:fragment="contentScroll">
	<div id="realgrid" style="width: 100%;" class="realgrid1"></div>
</th:block>

<!-- 하단 버튼 영역 -->
<th:block layout:fragment="contentBottomButton">
	<div class="cbt_btn">
	    <div class="bleft">
	        <a style="display:none" href="javascript:;" id="btnOpenMenu" class="app" th:text="#{lbl.reptItemGroup}"></a>
	    </div>
	    <div class="bright">
        	<a href="javascript:;" id="btnReset" class="app1 roleWrite" th:text="#{lbl.reset}"></a>
           	<a id="btnSave" href="#" class="app2 roleWrite" th:text="#{lbl.save}"></a>
        </div>
    </div>
</th:block>
      
<!-- view script -->
<th:block layout:fragment="contentjs">
	<script th:inline="javascript">
    var enterSearchFlag = "Y";
    var codeMap = null;
    var codeMapEx = null;
    var codeRoutingFirstClass_2_T = null;
    var codeRoutingFirstClass_2_M = null;
    var codeRoutingFirstClass_2_L = null;
	
    var codeRoutingSecondClass_2_T = null; // 신규추가, 김지혜님, 20221116 김지혜님 요청 
    var codeRoutingSecondClass_2_M = null; // 신규추가, 김지혜님, 20221116 김지혜님 요청
    var codeRoutingSecondClass_2_L = null;
	
    var codeRoutingThirdClass_2_T = null;
    var codeRoutingThirdClass_2_M = null;
    var codeRoutingThirdClass_2_L = null;
    
    var authProd = "N";
    var authPurc = "N";
    var authGoc  = "N";
    var authQc   = "N";
    
    var gridInstance, grdMain, dataProvider;
    
    var getReset = {
   	    campus   : [],
   	    campus2  : [],
   	    area     : [],
   	    area2    : [],
   	    loadYn   : [],
   	    loadYn2  : [],
   	    loadQty  : [],
   	    loadQty2 : [],
   	    keyMatYn : [],
   	    keyMatYn2 : [],
   	    minPurLt : [],
   	    minPurLt2 : [],
   	    bufferPurLt : [],
   	    bufferPurLt2 : [],
   	    sbsQty       : [],
   	    sbsQty2      : [],
   	    grMngYn       : [],
   	    grMngYn2      : [],
   	    weeklyGrQty   : [],
   	    weeklyGrQty2  : [],
   	    firstClass    : [],
   	    firstClass2    : [],
   	    secondClass    : [],
   	   	secondClass2    : [],
   	    thirdClass    : [],
   	    tnirdClass2    : [],
   	};
    
    $(document).ready(function() {
        fn_init();
        var colsArray = ["CAMPUS_PRIORITY"];
        gfn_pasteValueToLabel(grdMain, dataProvider, colsArray);
    });
    
    function fn_init() {
	    gfn_formLoad();   // 공통 초기화
	    fn_authority();
	    fn_initData();    // 데이터 초기화
	    fn_initFilter();  // 필터 초기화
	    fn_initGrid();    // 그리드 초기화
	    fn_initEvent();   // 이벤트 초기화
	    gfn_tabresize();
	}
            
    function fn_initData() {
	    codeMap   = gfn_getComCode("ITEM_TYPE,FLAG_YN,ITEM_GRADE,CAMPUS_PRIORITY,ANNEALING_ITEM_GROUP_CD,PROCUR_TYPE", "Y"); //공통코드 조회
	    codeMapEx = gfn_getComCodeEx(["REP_CUST_GROUP","REP_ITEM_GROUP","ROUTING"]);
	    codeRoutingFirstClass_2_T = comCodeRouting('2-T','FirstClass');
	    codeRoutingFirstClass_2_T.push({CODE_CD:  ' ', CODE_NM_KR: " "});
	    
	    codeRoutingFirstClass_2_M = comCodeRouting('2-M','FirstClass');
	    codeRoutingFirstClass_2_M.push({CODE_CD: ' ', CODE_NM_KR: " "});
	    
	    codeRoutingFirstClass_2_L = comCodeRouting('2-L','FirstClass');
	    codeRoutingFirstClass_2_L.push({CODE_CD:  ' ', CODE_NM_KR: " "});
                    
        // 신규추가, 김지혜님, 20221116 김지혜님 요청
        /////////////////////////////////////////////////////////////////////////
        codeRoutingSecondClass_2_T = comCodeRouting('2-T','SecondClass');
        codeRoutingSecondClass_2_T.push({CODE_CD: ' ', CODE_NM_KR: " "});
        
        codeRoutingSecondClass_2_M = comCodeRouting('2-M','SecondClass');
        codeRoutingSecondClass_2_M.push({CODE_CD: ' ', CODE_NM_KR: " "});
        /////////////////////////////////////////////////////////////////////////
        
        codeRoutingSecondClass_2_L = comCodeRouting('2-L','SecondClass');
        codeRoutingSecondClass_2_L.push({CODE_CD: ' ', CODE_NM_KR: " "});
        
        codeRoutingThirdClass_2_T	= comCodeRouting('2-T','ThirdClass');
        codeRoutingThirdClass_2_T.push({CODE_CD: ' ', CODE_NM_KR: " "});
        
        codeRoutingThirdClass_2_M  = comCodeRouting('2-M','ThirdClass');
        codeRoutingThirdClass_2_M.push({CODE_CD: ' ', CODE_NM_KR: " "});
        
        codeRoutingThirdClass_2_L  = comCodeRouting('2-L','ThirdClass');
        codeRoutingThirdClass_2_L.push({CODE_CD: ' ', CODE_NM_KR: " "});
        
        // 메뉴 정보 확인
        $.each(gfn_getGlobal("DS_MENU"), function(idx, item) {
            if (item.MENU_CD == "MNG105") {
                $("#btnOpenMenu").show();
                return false;
            }
        });
    }
                
    function fn_authority() {
		gfn_service({
			async   : false,
	        url     : GV_CONTEXT_PATH + "/biz/obj",
	        data    : {
				_mtd : "getList",
				tranData : [
					{outDs : "authorityList", _siq : "master.master.authority"}
				]
			},
	        success :function(data) {
				var dataLen = data.authorityList.length;
				for (var i = 0; i < dataLen; i++) {
	            	var menuCd = data.authorityList[i].MENU_CD;
					if (menuCd == "MNG10101") {//생관권한(생산기획 권한)
	                	authProd = "Y";
	                } else if (menuCd == "MNG10102") {//구매권한
	                	authPurc = "Y";
	                } else if (menuCd == "MNG10103") {//SCM권한
	                	authGoc = "Y";
	                } else if (menuCd == "MNG10104") {//QC권한
	                	authQc = "Y";
	                } 
				}
			}
		}, "obj");
	}
            
    function fn_excelSubSearch() {
		EXCEL_SEARCH_DATA = "";
        EXCEL_SEARCH_DATA += "Product" + " : ";
        EXCEL_SEARCH_DATA += $("#loc_product").html();
		$.each($(".view_combo"), function(i, val) {
			var temp = "";
            var id = gfn_nvl($(this).attr("id"), "");
			if (id != "") {
				var name = $("#" + id + " .ilist .itit").html();
				//타이틀
                EXCEL_SEARCH_DATA += "\n" + name + " : ";   
                        
                //데이터
                if (id == "divItem") {
					EXCEL_SEARCH_DATA += $("#item_nm").val();
				
                } else if (id == "divProcurType") {
					$.each($("#procurType option:selected"), function(i2, val2){
						var txt = gfn_nvl($(this).text(), "");
						if (i2 == 0) {
							temp = txt;                             
						} else {
							temp += ", " + txt;
						}
					});     
					EXCEL_SEARCH_DATA += temp;
				
                } else if (id == "divItemType") {
					$.each($("#itemType option:selected"), function(i2, val2) {
						var txt = gfn_nvl($(this).text(), "");
						if (i2 == 0) {
                        	temp = txt;                             
                        } else {
                            temp += ", " + txt;
                        }
                    });     
					EXCEL_SEARCH_DATA += temp;
				
                } else if (id == "divReptItemGroup") {
					$.each($("#reptItemGroup option:selected"), function(i2, val2){
						var txt = gfn_nvl($(this).text(), "");
                        if (i2 == 0) {
                        	temp = txt;                             
                        } else {
                            temp += ", " + txt;
                        }
                    });     
                    EXCEL_SEARCH_DATA += temp;
                
                } else if (id == "divRoute") {
                    $.each($("#route option:selected"), function(i2, val2){
						var txt = gfn_nvl($(this).text(), "");
						if (i2 == 0) {
                        	temp = txt;                             
                        } else {
                            temp += ", " + txt;
                        }
                    });     
                    EXCEL_SEARCH_DATA += temp;
                    
                } else if (id == "divRepCust") {
                    EXCEL_SEARCH_DATA += $("#reptCust").val();
                
                } else if (id == "divRepCustGroup") {
					$.each($("#reptCustGroup option:selected"), function(i2, val2){
						var txt = gfn_nvl($(this).text(), "");
                        if (i2 == 0) {
                        	temp = txt;                             
                        } else {
                            temp += ", " + txt;
                        }
                    });     
                    EXCEL_SEARCH_DATA += temp;
                        
                } else if (id == "divFireWorkYn") {
					EXCEL_SEARCH_DATA += $("#fireworkYn option:selected").text();
                } else if (id == "divCleaningYn") {
					EXCEL_SEARCH_DATA += $("#cleaningYn option:selected").text();
                } else if (id == "divLpYn") {
					EXCEL_SEARCH_DATA += $("#lpYn option:selected").text();
                } else if(id == "divOsYn") {
					EXCEL_SEARCH_DATA += $("#osYn option:selected").text();
                } else if (id == "divValidYn") {
					EXCEL_SEARCH_DATA += $("#validYn option:selected").text();
                } else if (id == "divValidYnERP") {
					EXCEL_SEARCH_DATA += $("#validYnERP option:selected").text();
                } else if (id == "divValiDate") {
					EXCEL_SEARCH_DATA += $("#validDateFrom").val() + " ~ " + $("#validDateTo").val();
                }
            }
		});
	}
            
	function fn_initGrid() {
		gridInstance = new GRID();
        gridInstance.init("realgrid");
        grdMain      = gridInstance.objGrid;
        dataProvider = gridInstance.objData;
        gridInstance.measureHFlag = true;      // 메저 행모드 안보이게..
        gridInstance.measureCFlag = true;
                    
        fn_setOptions();
	}
            
	function fn_setOptions () {
		grdMain.setOptions({
            stateBar: { visible       : true  },
            sorting : { enabled       : true  },
            display : { columnMovable : false }
		}); 
		
		grdMain.setPasteOptions({
            applyNumberFormat: false,
            checkDomainOnly: false,
            checkReadOnly: true,
            commitEdit: true,
            enableAppend: true,
            enabled: true,
            eventEachRow: true,
            fillColumnDefaults: false,
            fillFieldDefaults: false,
            forceColumnValidation: false,
            forceRowValidation: false,
            noDataEvent: false,
            noEditEvent: false,
            selectBlockPaste: true,
            selectionBase: false,
            singleMode: false,
            startEdit: true,
            stopOnError: true,
            throwValidationError: true
        });

		//스타일 추가
        grdMain.addCellStyles([{
            id         : "editStyle",
            editable   : true,
            background : gv_editColor
        }]);
        
        grdMain.addCellStyles([{
            id         : "editAuthNoneStyle",
            editable   : true,
            background : gv_noneEditColor
        }]);
        
        grdMain.addCellStyles([{
            id         : "editNoneStyle",
            editable   : false,
            background : gv_noneEditColor
        }]);
	}
            
	function fn_initFilter() {
		// 키워드팝업
        gfn_keyPopAddEvent([
        	{ target : 'divItem', id : 'item', type : 'COM_ITEM', title : /*[[#{lbl.item}]]*/'' }
        ]);
                
		// 콤보박스
        gfn_setMsComboAll([
            { target : 'divItemType'     , id : 'itemType'     , title : /*[[#{lbl.itemType}]]*/''     	, data : codeMap.ITEM_TYPE , exData:[''] },
            { target : 'divProcurType'   , id : 'procurType'   , title : /*[[#{lbl.procure}]]*/''      	, data : codeMap.PROCUR_TYPE, exData:[""] },
            { target : 'divReptItemGroup', id : 'reptItemGroup', title : /*[[#{lbl.reptItemGroup}]]*/''	, data : codeMapEx.REP_ITEM_GROUP, exData:[  ] },
            { target : 'divRoute'        , id : 'route'        , title : /*[[#{lbl.routing}]]*/''      	, data : codeMapEx.ROUTING,        exData:["*"] },
            { target : 'divRepCustGroup' , id : 'reptCustGroup', title : /*[[#{lbl.reptCustGroup}]]*/''	, data : codeMapEx.REP_CUST_GROUP, exData:["*"] },
            { target : 'divFireWorkYn'   , id : 'fireworkYn'   , title : /*[[#{lbl.fireYn}]]*/''       	, data : codeMap.FLAG_YN   , exData:[  ], type : "S" },
            { target : 'divCleaningYn'   , id : 'cleaningYn'   , title : /*[[#{lbl.cleanYn}]]*/''       , data : codeMap.FLAG_YN   , exData:[  ], type : "S" },
            { target : 'divValidYn'      , id : 'validYn'      , title : /*[[#{lbl.validYn}]]*/''      	, data : codeMap.FLAG_YN   , exData:[  ], type : "S" },
            { target : 'divValidYnERP'   , id : 'validYnERP'   , title : /*[[#{lbl.validYnErp}]]*/''   	, data : codeMap.FLAG_YN   , exData:[  ], type : "S" },
            { target : 'divLpYn'         , id : 'lpYn'         , title : /*[[#{lbl.lpYn}]]*/''   		, data : codeMap.FLAG_YN   , exData:[  ], type : "S" },
            { target : 'divOsYn'         , id : 'osYn'         , title : /*[[#{lbl.osYn}]]*/''   		, data : codeMap.FLAG_YN   , exData:[  ], type : "S" }
        ]);
                
        // 달력
        DATEPICKET({
            arrTarget : [
                { calId : "validDateFrom", validType : "from", validId : "validDateTo"  , defVal : 0 },
                { calId : "validDateTo"  , validType : "to"  , validId : "validDateFrom", defVal : 0 }
            ]
        });
                
        // 필터값 초기화
        $("#validYn").val("Y");
        $("#searchForm .datepicker2").val("");
        $("#searchForm .datepicker2").datepicker("option", "minDate"  , "1950-01-01");
        $("#searchForm .datepicker2").datepicker("option", "maxDate"  , fn_getDate(2));
        $("#searchForm .datepicker2").datepicker("option", "yearRange", "1950:"+(new Date().getFullYear()+2))
        
        //숫자만입력
        $("#fromAmt,#toAmt,#fromLt,#toLt").inputmask("numeric");
	}
            
	function fn_initEvent() {
		$(".fl_app"     ).click("on", function() { fn_apply(); });
        $("#btnOpenMenu").click("on", function() { gfn_newTab("MNG105"); });
        $("#btnSave"    ).click("on", function() { fn_save(); });
        $("#btnReset").on('click', function (e) {
        	grdMain.cancel();
            dataProvider.rollback(dataProvider.getSavePoints()[0]);
                    
            grdMain.setCellStyles(getReset.campus, "CAMPUS_PRIORITY", "editStyle");            // 캠퍼스 우선순위
            grdMain.setCellStyles(getReset.campus2, "CAMPUS_PRIORITY", "editAuthNoneStyle");   // 캠퍼스 우선순위
            grdMain.setCellStyles(getReset.area, "AREA", "editStyle");                         // 제품면적
            grdMain.setCellStyles(getReset.area2, "AREA", "editAuthNoneStyle");                // 제품면적
            grdMain.setCellStyles(getReset.loadYn, "LOAD_YN", "editStyle");                    // 적재여부
            grdMain.setCellStyles(getReset.loadYn2, "LOAD_YN", "editAuthNoneStyle");           // 적재여부
            grdMain.setCellStyles(getReset.loadQty, "LOAD_QTY", "editStyle");                  // 최대 적재 수량
            grdMain.setCellStyles(getReset.loadQty2, "LOAD_QTY", "editAuthNoneStyle");         // 최대 적재 수량
            grdMain.setCellStyles(getReset.keyMatYn, "KEY_MAT_YN", "editStyle");               // Key 자재 여부
            grdMain.setCellStyles(getReset.keyMatYn2, "KEY_MAT_YN", "editAuthNoneStyle");      // Key 자재 여부
                                                                                                                      
            grdMain.setCellStyles(getReset.minPurLt, "MIN_PUR_LT", "editStyle");               // 입고 LT          
            grdMain.setCellStyles(getReset.minPurLt2, "MIN_PUR_LT", "editNoneStyle");          // 입고 LT(수정불가)
            
            grdMain.setCellStyles(getReset.bufferPurLt, "BUFFER_PUR_LT", "editStyle");         // 자재입고 버퍼 LT
            grdMain.setCellStyles(getReset.bufferPurLt2, "BUFFER_PUR_LT", "editAuthNoneStyle");// 자재입고 버퍼 LT
            grdMain.setCellStyles(getReset.sbsQty, "SBS_QTY", "editStyle");                    // 전략 재고
            grdMain.setCellStyles(getReset.sbsQty2, "SBS_QTY", "editNoneStyle");               // 전략 재고(수정불가)
            grdMain.setCellStyles(getReset.grMngYn, "GR_MNG_YN", "editStyle");                    // 입고수량 관리여부
            grdMain.setCellStyles(getReset.grMngYn2, "GR_MNG_YN", "editAuthNoneStyle");           // 입고수량 관리여부
            grdMain.setCellStyles(getReset.weeklyGrQty, "WEEKLY_GR_QTY", "editStyle");                    // 주당 입고 가능수량
            grdMain.setCellStyles(getReset.weeklyGrQty2, "WEEKLY_GR_QTY", "editAuthNoneStyle");           // 주당 입고 가능수량
            grdMain.setCellStyles(getReset.firstClass, "FIRST_CLASS", "editStyle");                    // 대분류
            grdMain.setCellStyles(getReset.firstClass2, "FIRST_CLASS", "editNoneStyle");           // 대분류
            grdMain.setCellStyles(getReset.secondClass, "SECOND_CLASS", "editStyle");               // 중분류
            grdMain.setCellStyles(getReset.secondClass2, "SECOND_CLASS", "editNoneStyle");          // 중분류
            grdMain.setCellStyles(getReset.thirdClass, "THIRD_CLASS", "editStyle");                // 소분류
            grdMain.setCellStyles(getReset.thirdClass2, "THIRD_CLASS", "editNoneStyle");           // 소분류
		});
                
        grdMain.onEditRowChanged = function (grid, itemIndex, dataRow, field, oldValue, newValue) {
            var provider = dataProvider;
            var filedNm  = provider.getFieldName(field);
            var minPurLt  = 0;
            var recInspLt = 0;
            var recInspYn = "";
            var keyMapLt  = 0;
        
            if (filedNm == "MIN_PUR_LT") {
                minPurLt  = newValue;
                recInspLt = gfn_nvl(provider.getValue(dataRow, "REC_INSP_LT"), 0);
                recInspYn = gfn_nvl(provider.getValue(dataRow, "REC_INSP_YN"), "");
            }
            
            if (filedNm == "MIN_PUR_LT") {
                if (recInspYn == "Y") {
                    keyMapLt = Number(minPurLt) + Number(recInspLt);
                } else {
                    keyMapLt = Number(minPurLt);
                }
                provider.setValue(dataRow, "KEY_MAT_LT", keyMapLt);
            }
            
            if (filedNm == "KEY_MAT_YN") {
                if (newValue == "N") {
                    grdMain.setCellStyles(dataRow, "MIN_PUR_LT", "editNoneStyle");
                } else {
                    grdMain.setCellStyles(dataRow, "MIN_PUR_LT", "editStyle");
                }
            }
        };
        
        grdMain.onKeyUp = function (grid, key, ctrl, shift, alt) {
            if (key == 46) {  //Delete Key
                gfn_selBlockDelete(grid, dataProvider, "cell");
            }
        };
	}
            
    function fn_getBucket(sqlFlag) {
		if (!sqlFlag) {
	        // 데이터셋에만 존재하는 컬럼 추가
	        DIMENSION.hidden = [];
	        DIMENSION.hidden.push({CD:"COMPANY_CD"  , dataType:"text"});
	        DIMENSION.hidden.push({CD:"BU_CD"       , dataType:"text"});
	        DIMENSION.hidden.push({CD:"REC_INSP_YN" , dataType:"text"});
	        DIMENSION.hidden.push({CD:"REC_INSP_LT" , dataType:"number"});
	        DIMENSION.hidden.push({CD:"ITEM_TYPE"   , dataType:"text"});
	        DIMENSION.hidden.push({CD:"PROCUR_TYPE" , dataType:"text"});
                    
			for (var i in DIMENSION.user) {
            	if (DIMENSION.user[i].DIM_CD.indexOf("SALES_PRICE_KRW") > -1) {
                	DIMENSION.user[i].numberFormat = "#,##0";
                }
                        
                if (DIMENSION.user[i].DIM_CD.indexOf("OS_PRICE_KRW") > -1) {
                    DIMENSION.user[i].numberFormat = "#,##0";
                }
                
                if (DIMENSION.user[i].DIM_CD.indexOf("OUT_LOT_SIZE") > -1) {
                    DIMENSION.user[i].numberFormat = "#,##0";
                }
                
                if (DIMENSION.user[i].DIM_CD.indexOf("PROCESS_TIME") > -1) {
                    DIMENSION.user[i].numberFormat = "#,##0.0";
                }
                
                if (DIMENSION.user[i].DIM_CD.indexOf("SS_QTY") > -1) {
                    DIMENSION.user[i].numberFormat = "#,##0";
                }
                
                if (DIMENSION.user[i].DIM_CD.indexOf("BOM_CNT") > -1) {
                    DIMENSION.user[i].numberFormat = "#,##0";
                }
                
                if (DIMENSION.user[i].DIM_CD.indexOf("PUR_LT") > -1) {
                    DIMENSION.user[i].numberFormat = "#,##0";
                }
                
                if (DIMENSION.user[i].DIM_CD.indexOf("MFG_LT") > -1) {
                    DIMENSION.user[i].numberFormat = "#,##0";
                }
			}

			for (var i in MEASURE.user) {
                if (MEASURE.user[i].CD.indexOf("AREA") > -1 || MEASURE.user[i].CD.indexOf("LOAD_QTY") > -1 || MEASURE.user[i].CD.indexOf("KEY_MAT_LT") > -1 ||
                    MEASURE.user[i].CD.indexOf("MIN_PUR_LT") > -1 || MEASURE.user[i].CD.indexOf("REC_INSP_LT") > -1 || MEASURE.user[i].CD.indexOf("BUFFER_PUR_LT") > -1 || MEASURE.user[i].CD.indexOf("SBS_QTY") > -1
                    ||MEASURE.user[i].CD.indexOf("WEEKLY_GR_QTY") > -1) {
                	MEASURE.user[i].dataType = "number";
                }
                
            }
                    
			gridInstance.setDraw();
			var fileds = dataProvider.getFields();
			for (var i in fileds) {
                if (fileds[i].fieldName.indexOf("SALES_PRICE_KRW") > -1) {
                    fileds[i].dataType = "number";
                }
                
                if (fileds[i].fieldName.indexOf("OS_PRICE_KRW") > -1) {
                    fileds[i].dataType = "number";
                }
                
                if (fileds[i].fieldName.indexOf("OUT_LOT_SIZE") > -1) {
                    fileds[i].dataType = "number";
                }
                
                if (fileds[i].fieldName.indexOf("PROCESS_TIME") > -1) {
                    fileds[i].dataType = "number";
                }
                
                if (fileds[i].fieldName.indexOf("SS_QTY") > -1) {
                    fileds[i].dataType = "number";
                }
                
                if (fileds[i].fieldName.indexOf("BOM_CNT") > -1) {
                    fileds[i].dataType = "number";
                }
                
                if (fileds[i].fieldName.indexOf("PUR_LT") > -1) {
                    fileds[i].dataType = "number";
                }
                
                if (fileds[i].fieldName.indexOf("MFG_LT") > -1) {
                    fileds[i].dataType = "number";
                }
                if (fileds[i].fieldName.indexOf("WEEKLY_GR_QTY") > -1) {
                    fileds[i].dataType = "number";
                }
                
			}
            dataProvider.setFields(fileds);
			
            $.each(MEASURE.user, function() {
            	var col = grdMain.columnByName(this.CD);
                if (this.CD == "CAMPUS_PRIORITY" || this.CD == "LOAD_YN" || this.CD == "KEY_MAT_YN" || this.CD == "REC_INSP_YN" || this.CD == "GR_MNG_YN") {
					grdMain.setColumnProperty(this.CD, "editor", { type: "dropDown", domainOnly: true });
                    if (this.CD == "CAMPUS_PRIORITY") {
                        col.values = gfn_getArrayExceptInDs(codeMap.CAMPUS_PRIORITY, "CODE_CD", "");
                        col.labels = gfn_getArrayExceptInDs(codeMap.CAMPUS_PRIORITY, "CODE_NM", "");
                    } else {
                        col.values = gfn_getArrayExceptInDs(codeMap.FLAG_YN, "CODE_CD", "");
                        col.labels = gfn_getArrayExceptInDs(codeMap.FLAG_YN, "CODE_NM", "");
                    }
                    col.styles = {textAlignment: "center", background : gv_noneEditColor};
                    col.lookupDisplay = true;
                
                } else if (this.CD == "AREA" || this.CD == "LOAD_QTY" || this.CD == "KEY_MAT_LT" || this.CD == "MIN_PUR_LT" || this.CD == "REC_INSP_LT" || this.CD == "SBS_QTY" || this.CD == "BUFFER_PUR_LT"|| this.CD == "WEEKLY_GR_QTY") {
                    grdMain.setColumnProperty(this.CD, "editor", {type : "number", positiveOnly : true, integerOnly : true});
                    col.styles = {textAlignment: "far", background : gv_noneEditColor, numberFormat : "#,##0"};
                
                } else if (this.CD == "FIRST_CLASS") {
					col.editable = true;
                } else if (this.CD == "SECOND_CLASS") {
					col.editable = true;
                } else if(this.CD == "THIRD_CLASS") {
					col.editable = true;
				}
				col.equalBlank = false;
                grdMain.setColumn(col);
			});
		}
    }
            
	function fn_search() {
		FORM_SEARCH._mtd     = "getList";
        FORM_SEARCH.tranData = [{outDs:"resList",_siq:"master.master.item"}];
        var aOption = {
        	url     : GV_CONTEXT_PATH + "/biz/obj",
            data    : FORM_SEARCH,
            success : function (data) {
	            if (FORM_SEARCH.sql == 'N') {
	                //그리드 데이터 삭제
	                dataProvider.clearRows();
	                grdMain.cancel();
	                //그리드 데이터 생성
	                dataProvider.setRows(data.resList);
	                
	                dataProvider.clearSavePoints();
	                dataProvider.savePoint();
	                // 그리드 데이터 건수 출력
	                gfn_setSearchRow(dataProvider.getRowCount());
	                
	                //fn_authority();
	                fn_gridCallback(data.resList);
	                func_setColumnProperty();
	            }
			}
        }
        gfn_service(aOption, "obj");
	}
            
	function fn_gridCallback(resList) {
	    getReset.campus = [];
	    getReset.campus2 = [];
	    getReset.area = [];
	    getReset.area2 = [];
	    getReset.loadYn = [];
	    getReset.loadYn2 = [];
	    getReset.loadQty = [];
	    getReset.loadQty2 = [];
	    getReset.keyMatYn = [];
	    getReset.keyMatYn2 = [];
	    getReset.minPurLt = [];
	    getReset.minPurLt2 = [];
	    getReset.bufferPurLt = [];
	    getReset.bufferPurLt2 = [];
	    getReset.sbsQty = [];
	    getReset.sbsQty2 = [];
	    getReset.grMngYn = [];
	    getReset.grMngYn2 = [];
	    getReset.weeklyGrQty = [];
	    getReset.weeklyGrQty2 = [];
	    getReset.firstClass = [];
	    getReset.firstClass2 = [];
	    getReset.secondClass = [];
	    getReset.secondClass2 = [];
	    getReset.thirdClass = [];
	    getReset.thirdClass2 = [];
                
		$.each(resList, function(n, v) {
        	var produrType = v.PROCUR_TYPE;
            var itemType = v.ITEM_TYPE;
            var fireworkYn = v.FIREWORK_YN;
            var keyMatYn = v.KEY_MAT_YN;
            var annealingYn = v.ANNEALING_YN;
            var routing		= v.ROUTING_ID
            // 캠퍼스 우선순위
            if(grdMain.columnByName("CAMPUS_PRIORITY")) {
                if(authProd == "Y" || authGoc == "Y") {  // 생관권한(생산기획 권한) 또는  SCM권한
                    if(produrType == "MG" || produrType == "MH" || produrType == "MM") {  // 조달구분(사내가공품) 또는 조달구분(사내반제품) 또는 조달구분(원자재생산품)
                        getReset.campus.push(n);// 수정가능, 색깔노랑
                    } else {//수정가능, 색깔회색
                        getReset.campus2.push(n);
                    }
                }
                //수정불가, 색깔회색
            }
                    
            // 제품면적
            if(grdMain.columnByName("AREA")) {
                if(authProd == "Y" || authGoc == "Y") {  // 생관권한(생산기획 권한) 또는  SCM권한
                    if(annealingYn == "Y") {        // 어닐링 YN이  Y이면 
                        getReset.area.push(n);// 수정가능, 색깔노랑
                    } else {//수정가능, 색깔회색
                        getReset.area2.push(n);
                    }
                }
                //수정불가, 색깔회색
            }
                    
            // 적재여부
            if(grdMain.columnByName("LOAD_YN")) {
                if(authProd == "Y") {                             // 생관권한(생산기획 권한)
                    if(annealingYn == "Y") {         // 어닐링 YN이  Y이면 
                        getReset.loadYn.push(n);//색깔 노랑, 수정가능
                    } else {//수정가능, 색깔회색
                        getReset.loadYn2.push(n);//
                    }
                }
                // 수정불가, 색깔회색
            }
                    
            // 최대 적재 수량
            if(grdMain.columnByName("LOAD_QTY")) {
                if(authProd == "Y") {                    // 생관권한(생산기획 권한)
                    if(annealingYn == "Y") {           // 어닐링 YN이  Y이면 
                        getReset.loadQty.push(n); //색깔 노랑, 수정가능
                    } else {//수정가능, 색깔회색
                        getReset.loadQty2.push(n);
                    }
                }
                // 수정불가, 색깔회색
            }
                    
            // Key 자재 여부
            if(grdMain.columnByName("KEY_MAT_YN")) {
                if(authProd == "Y" || authGoc == "Y") {  // 생관권한(생산기획 권한) 또는  SCM권한
                    if(produrType == "MG" || itemType == "50") {             // 사내가공품 또는  품목유형(상품)
                        getReset.keyMatYn2.push(n);// 수정가능, 색깔 회색
                    }else{//수정가능, 색깔노랑
                        getReset.keyMatYn.push(n);     
                    }
                }
                //수정불가, 색깔회색
            }
                    
            // 입고 L/T
            if(grdMain.columnByName("MIN_PUR_LT")) {              
                if(authPurc == "Y" || authGoc == "Y") {  // 생관권한(생산기획 권한) 또는  SCM권한
                    if(keyMatYn != "N" && produrType != "MG") {   // Key 자재 여부 'N'이 아니고 && 조달구분(사내가공품)이 아니면
                        getReset.minPurLt.push(n);
                    } else {//수정불가, 색깔회색
                        getReset.minPurLt2.push(n);
                    }
                }
                //수정불가, 색깔회색
            }
                    
            //자재입고 버퍼 LT
            //ITEM_TYPE = '20' AND PROCUR_TYPE = 'OH' -> YELLOW
            //ITEM_TYPE = '30' AND PROCUR_TYPE = 'OP' -> YELLOW
            //다른것들은 GREY                    
            if(grdMain.columnByName("BUFFER_PUR_LT")) {
                if(authGoc == "Y") {                 // SCM권한
                    if((itemType == "20" && produrType == "OH") || (itemType == "30" && produrType == "OP")){ //품목유형(반제품)이고 조달구분(외주반제품)이거나  또는   품목유형(원자재)이고 조달구분(구매품)
                        getReset.bufferPurLt.push(n);
                    } else {//수정가능, 색깔회색
                        getReset.bufferPurLt2.push(n);
                    }
                }else{ //수정가능, 색깔회색
                    getReset.bufferPurLt2.push(n);
                }
            }
            
            //전략 재고
            if(grdMain.columnByName("SBS_QTY")) {                 
                if(authGoc == "Y" && itemType == "10" ) {   //SCM권한이고 품목유형(제품)
                    getReset.sbsQty.push(n);
                }else{  // 수정불가, 색깔회색
                    getReset.sbsQty2.push(n);
                }
            }
                    
            //입고수량 관리여부
            if(grdMain.columnByName("GR_MNG_YN")) {             
            
                if(authProd == "Y" || authGoc == "Y" || authPurc == "Y") //생관권한, 구매권한, SCM권한 을 가지고 있을 경우 수정가능
                {
                    if((itemType == "20" && produrType == "OH") || (itemType == "30" && produrType == "OP") ) {   //(품목유형) 반제품 & (조달유형) 외주반제품 또는 (품목유형) 원자재 & (조달유형) 구매품
                        getReset.grMngYn.push(n);
                    }else{  // 수정가능, 색깔회색
                        getReset.grMngYn2.push(n);
                    }   
                }
                //그외 수정불가, 색깔회색                 
            }
                    
            //주당 입고 가능수량
            if(grdMain.columnByName("WEEKLY_GR_QTY")) {             
            
                if(authProd == "Y" || authGoc == "Y" || authPurc == "Y")
                {
                    if((itemType == "20" && produrType == "OH") || (itemType == "30" && produrType == "OP") ) {   //(품목유형) 반제품 & (조달유형) 외주반제품 또는 (품목유형) 원자재 & (조달유형) 구매품
                        getReset.weeklyGrQty.push(n);
                    }else{  // 수정가능, 색깔회색
                        getReset.weeklyGrQty2.push(n);
                    }
                }
                //그외 수정불가, 색깔회색
            }
                    
            //대분류
            if(grdMain.columnByName("FIRST_CLASS")) {             
            
                if(authProd == "Y" || authGoc == "Y" || authPurc == "Y")
                {
                    if((routing == "2-T" ) || (routing == "2-M" )|| (routing == "2-L" )) {   //routing: 2-T, 2-M, 2-L 에 대해 drop down 처리, 나머지는 not editable
                        getReset.firstClass.push(n);
                    }else{  // 수정가능, 색깔회색
                        getReset.firstClass2.push(n);
                    }
                }
                //그외 수정불가, 색깔회색
            }
                  
            //중분류
            if(grdMain.columnByName("SECOND_CLASS")) {             
            
                if(authProd == "Y" || authGoc == "Y" || authPurc == "Y")
                {
                    if((routing == "2-T") || (routing == "2-M" )|| (routing == "2-L" )) {   //routing: 2-T, 2-M, 2-L 에 대해 drop down 처리, 나머지는 not editable
                        getReset.secondClass.push(n);
                    }else{  // 수정가능, 색깔회색
                        getReset.secondClass2.push(n);
                    }
                }
                //그외 수정불가, 색깔회색
            }
            //소분류
            if(grdMain.columnByName("THIRD_CLASS")) {             
            
                if(authProd == "Y" || authGoc == "Y" || authPurc == "Y")
                {
                    if((routing == "2-T" ) || (routing == "2-M" )|| (routing == "2-L" )) {   //routing: 2-T, 2-M, 2-L 에 대해 drop down 처리, 나머지는 not editable
                        getReset.thirdClass.push(n);
                    }else{  // 수정가능, 색깔회색
                        getReset.thirdClass2.push(n);
                    }
                }
                //그외 수정불가, 색깔회색
            }
		});
                
        grdMain.setCellStyles(getReset.campus, "CAMPUS_PRIORITY", "editStyle");            // 캠퍼스 우선순위
        grdMain.setCellStyles(getReset.campus2, "CAMPUS_PRIORITY", "editAuthNoneStyle");   // 캠퍼스 우선순위
        grdMain.setCellStyles(getReset.area, "AREA", "editStyle");                         // 제품면적
        grdMain.setCellStyles(getReset.area2, "AREA", "editAuthNoneStyle");                // 제품면적
        grdMain.setCellStyles(getReset.loadYn, "LOAD_YN", "editStyle");                    // 적재여부
        grdMain.setCellStyles(getReset.loadYn2, "LOAD_YN", "editAuthNoneStyle");           // 적재여부
        grdMain.setCellStyles(getReset.loadQty, "LOAD_QTY", "editStyle");                  // 최대 적재 수량
        grdMain.setCellStyles(getReset.loadQty2, "LOAD_QTY", "editAuthNoneStyle");         // 최대 적재 수량
        grdMain.setCellStyles(getReset.keyMatYn, "KEY_MAT_YN", "editStyle");               // Key 자재 여부
        grdMain.setCellStyles(getReset.keyMatYn2, "KEY_MAT_YN", "editAuthNoneStyle");      // Key 자재 여부
                                                                                                                  
        grdMain.setCellStyles(getReset.minPurLt, "MIN_PUR_LT", "editStyle");               // 입고 LT          
        grdMain.setCellStyles(getReset.minPurLt2, "MIN_PUR_LT", "editNoneStyle");          // 입고 LT(수정불가)
        
        grdMain.setCellStyles(getReset.bufferPurLt, "BUFFER_PUR_LT", "editStyle");         // 자재입고 버퍼 LT
        grdMain.setCellStyles(getReset.bufferPurLt2, "BUFFER_PUR_LT", "editAuthNoneStyle");// 자재입고 버퍼 LT
        grdMain.setCellStyles(getReset.sbsQty, "SBS_QTY", "editStyle");                    // 전략 재고
        grdMain.setCellStyles(getReset.sbsQty2, "SBS_QTY", "editNoneStyle");               // 전략 재고(수정불가)
        grdMain.setCellStyles(getReset.grMngYn, "GR_MNG_YN", "editStyle");                    // 입고수량 관리여부
        grdMain.setCellStyles(getReset.grMngYn2, "GR_MNG_YN", "editAuthNoneStyle");           // 입고수량 관리여부
        grdMain.setCellStyles(getReset.weeklyGrQty, "WEEKLY_GR_QTY", "editStyle");                    // 주당 입고 가능수량
        grdMain.setCellStyles(getReset.weeklyGrQty2, "WEEKLY_GR_QTY", "editAuthNoneStyle");           // 주당 입고 가능수량
        grdMain.setCellStyles(getReset.firstClass, "FIRST_CLASS", "editStyle");                // 대분류
        grdMain.setCellStyles(getReset.firstClass2, "FIRST_CLASS", "editNoneStyle");           // 대분류
        grdMain.setCellStyles(getReset.secondClass, "SECOND_CLASS", "editStyle");               // 중분류
        grdMain.setCellStyles(getReset.secondClass2, "SECOND_CLASS", "editNoneStyle");          // 중분류
        grdMain.setCellStyles(getReset.thirdClass, "THIRD_CLASS", "editStyle");                // 소분류
        grdMain.setCellStyles(getReset.thirdClass2, "THIRD_CLASS", "editNoneStyle");           // 소분류
	}
    
	function fn_apply(sqlFlag) {
        grdMain.commit();
        gfn_getMenuInit();
        fn_getBucket(sqlFlag);
        
        FORM_SEARCH            = $("#searchForm").serializeObject(); 
        FORM_SEARCH.sql        = sqlFlag;
        FORM_SEARCH.hrcyFlag   = true;
        FORM_SEARCH.dimList    = DIMENSION.user;
        FORM_SEARCH.meaList    = MEASURE.user;
        
        fn_search();
        fn_excelSubSearch();
    }
    
    function fn_save() {
        var grdData = gfn_getGrdSavedataAll(grdMain);
        if (grdData.length == 0) {
            alert(/*[[#{msg.noChangeData}]]*/'');  //변경된 데이터가 없습니다.
            return;
        }
        
        confirm(/*[[#{msg.confirmSave}]]*/'', function() {  // 저장하시겠습니까?
            //저장
            FORM_SAVE = {}; //초기화
            FORM_SAVE._mtd   = "saveUpdate";
            FORM_SAVE.tranData = [{outDs:"saveCnt",_siq:"master.master.item", grdData : grdData}];
            var serviceMap = {
                url: "${ctx}/biz/obj",
                data: FORM_SAVE,
                success:function(data) {
                    alert(/*[[#{msg.saveOk}]]*/'');
                    fn_apply();
                }
            }
            gfn_service(serviceMap, "obj");
        });
    }
    
    function fn_getDate(addYear) {
        var curDate  = new Date();
        var curYear  = curDate.getFullYear()+addYear;
        var curMonth = curDate.getMonth()+1;
        var curDate  = curDate.getDate();
        return curYear + (curMonth<10?'-0':'-') + curMonth + (curDate<10?'-0':'-') + curDate;
    }
    
  	//해당 이벤트의 keyValue값에 해당하는 lookupSource에 lookupData를 추가
    function lookupDataChange(keyValue) {
        FORM_SEARCH = {};
        FORM_SEARCH.FIRST_CLASS = keyValue;
        FORM_SEARCH._mtd     = "getList";
        FORM_SEARCH.tranData = [{outDs:"resList",_siq:"master.master.groupCode"}];
        var aOption = {
            url     : GV_CONTEXT_PATH + "/biz/obj",
            data    : FORM_SEARCH,
            success : function (data) {
                
                if (FORM_SEARCH.sql == 'N') {
                    
                	var lookups = [];
                    console.log("grdMain.existsLookupData:",grdMain.existsLookupData("firstCLASS", [data.resList[0].CODE_CD, data.resList[0].CODE_NM_KR]));
                	for (var i in data.resList) {
                        if (!grdMain.existsLookupData("firstCLASS", [data.resList[i].CODE_CD, data.resList[i].CODE_NM_KR])) {
                            var lookup = [data.resList[i].CODE_CD, data.resList[i].CODE_NM_KR];
                            lookups.push(lookup);
                        }
                    }
                    console.log("lookups:",lookups);
                    grdMain.fillLookupData("firstCLASS", {
                        rows: lookups
                    });
                	
                }
            }
        }
            
        gfn_service(aOption, "obj");
    }
  
    function comCodeRouting(routing,class_group){
    	var rtnMap = {};
		if (class_group == 'FirstClass') {
			FORM_SEARCH = {};
			FORM_SEARCH.class_group = class_group
	        FORM_SEARCH.routing = routing;
	        FORM_SEARCH._mtd     = "getList";
	        FORM_SEARCH.tranData = [{outDs:"resList",_siq:"master.master.groupCode"}];
	        	
		} else if (class_group == 'SecondClass') {
			FORM_SEARCH = {};
			FORM_SEARCH.class_group = class_group
	        FORM_SEARCH.routing = routing;
	        FORM_SEARCH._mtd     = "getList";
	        FORM_SEARCH.tranData = [{outDs:"resList",_siq:"master.master.groupCode"}];
		} else if(class_group == 'ThirdClass') {
			FORM_SEARCH = {};
			FORM_SEARCH.class_group = class_group
	        FORM_SEARCH.routing = routing;
	        FORM_SEARCH._mtd     = "getList";
	        FORM_SEARCH.tranData = [{outDs:"resList",_siq:"master.master.groupCode"}];
		}
    	
        var aOption = {
        	async: false,
            url     : GV_CONTEXT_PATH + "/biz/obj",
            data    : FORM_SEARCH,
            success : function (data) {
				rtnMap = data.resList;
            }
        }
        gfn_service(aOption, "obj");
    	return rtnMap;
    }
    
    function func_setColumnProperty() {
		$.each(MEASURE.user, function(n, v) {
			if (v.CD.indexOf("CLASS") > -1) {
				var col_CLASS = grdMain.columnByName(v.CD);
		      	if (col_CLASS.name === "FIRST_CLASS" ) {
					grdMain.setColumnProperty(col_CLASS.name,"dynamicStyles",function(grid, index, value){
		          		var gubun = grid.getValue(index.itemIndex,"ROUTING_ID_NM");
		          	    var ret = {};
						if (gubun === '2-T') {
          	                ret.editor = {
	   	                        type: "dropDown",
	   	                        domainOnly : true, 
	   	                        textReadOnly: true,
	       	                	values:gfn_getArrayExceptInDs(codeRoutingFirstClass_2_T, "CODE_CD", ""),
	       	                	labels:gfn_getArrayExceptInDs(codeRoutingFirstClass_2_T, "CODE_NM_KR", "")
	   	                        
	   	                    }
						}
	          	        if (gubun === '2-M') {
	          	        	ret.editor = {
	         	            	type: "dropDown",
	         	                domainOnly : true, 
	         	                textReadOnly: true,
	             	            values:gfn_getArrayExceptInDs(codeRoutingFirstClass_2_M, "CODE_CD", ""),
	             	            labels:gfn_getArrayExceptInDs(codeRoutingFirstClass_2_M, "CODE_NM_KR", "")
	         	            }
			            }
						if (gubun === '2-L') {
							ret.editor = {
	          	            	type: "dropDown",
	          	                domainOnly : true, 
	          	                textReadOnly: true,
	              	            values:gfn_getArrayExceptInDs(codeRoutingFirstClass_2_L, "CODE_CD", ""),
	              	            labels:gfn_getArrayExceptInDs(codeRoutingFirstClass_2_L, "CODE_NM_KR", "")
	          	            }
			           	}
						return ret;			
					});
				
					grdMain.setColumnProperty("FIRST_CLASS","displayCallback",function(grid, index, value) {
						var gubun = grid.getValue(index.itemIndex,"ROUTING_ID_NM");
		            	var retValue = value;
						if (gubun === '2-T') {
					    	var idx = gfn_getArrayExceptInDs(codeRoutingFirstClass_2_T, "CODE_CD", "").indexOf(value);
					        retValue = gfn_getArrayExceptInDs(codeRoutingFirstClass_2_T, "CODE_NM_KR", "")[idx];
					    }
						if (gubun === '2-M') {
					    	var idx = gfn_getArrayExceptInDs(codeRoutingFirstClass_2_M, "CODE_CD", "").indexOf(value);
					        retValue = gfn_getArrayExceptInDs(codeRoutingFirstClass_2_M, "CODE_NM_KR", "")[idx];
					    }
						if (gubun === '2-L') {
					    	var idx = gfn_getArrayExceptInDs(codeRoutingFirstClass_2_L, "CODE_CD", "").indexOf(value);
					        retValue = gfn_getArrayExceptInDs(codeRoutingFirstClass_2_L, "CODE_NM_KR", "")[idx];
					    }
						return retValue;
		           	});
				}// END OF IF col_FIRST_CLASS
		           
		        if (col_CLASS.name === "SECOND_CLASS" ) {
					grdMain.setColumnProperty(col_CLASS.name,"dynamicStyles",function(grid, index, value) {
		        		var gubun = grid.getValue(index.itemIndex,"ROUTING_ID_NM");
		        	    var ret = {};
		        	    switch (gubun) {
		        	    	//구분값이 T이면 text에디터를 표시
			    	    	case '2-T':  
			    	        	ret.editor = {
			    	            	type: "dropDown",
	    	                         	domainOnly : true, 
	    	                         	textReadOnly: true,
	        	                	 	values:gfn_getArrayExceptInDs(codeRoutingSecondClass_2_T, "CODE_CD", ""),
	        	                	 	labels:gfn_getArrayExceptInDs(codeRoutingSecondClass_2_T, "CODE_NM_KR", "")
			    	            }
			    	            break;
		        	        case '2-M':  
		        	        	ret.editor = {
		        	            	type: "dropDown",
       	                         	domainOnly : true, 
       	                         	textReadOnly: true,
           	                	 	values:gfn_getArrayExceptInDs(codeRoutingSecondClass_2_M, "CODE_CD", ""),
           	                	 	labels:gfn_getArrayExceptInDs(codeRoutingSecondClass_2_M, "CODE_NM_KR", "")
								}
		        	        	break;
		        	        case '2-L':  
								ret.editor = {
		        	            	type: "dropDown",
									domainOnly : true, 
		        	                textReadOnly: true,
		            	            values:gfn_getArrayExceptInDs(codeRoutingSecondClass_2_L, "CODE_CD", ""),
		            	            labels:gfn_getArrayExceptInDs(codeRoutingSecondClass_2_L, "CODE_NM_KR", "")
		        	            }
		        	            break;
		        	    }
		        	    return ret;
					});
		
		        	grdMain.setColumnProperty("SECOND_CLASS","displayCallback",function(grid, index, value){
		          		var gubun = grid.getValue(index.itemIndex,"ROUTING_ID_NM");
		          		var retValue = value;
			          	if (gubun === '2-T') {
					    	var idx = gfn_getArrayExceptInDs(codeRoutingSecondClass_2_T, "CODE_CD", "").indexOf(value);
					        retValue = gfn_getArrayExceptInDs(codeRoutingSecondClass_2_T, "CODE_NM_KR", "")[idx];
					    }
			          	if (gubun === '2-M') {
					    	var idx = gfn_getArrayExceptInDs(codeRoutingSecondClass_2_M, "CODE_CD", "").indexOf(value);
					        retValue = gfn_getArrayExceptInDs(codeRoutingSecondClass_2_M, "CODE_NM_KR", "")[idx];
					    }
						if (gubun === '2-L') {
					    	var idx = gfn_getArrayExceptInDs(codeRoutingSecondClass_2_L, "CODE_CD", "").indexOf(value);
					        retValue = gfn_getArrayExceptInDs(codeRoutingSecondClass_2_L, "CODE_NM_KR", "")[idx];
					    }
						return retValue;
		          	});
				}// END OF IF col_SECOND_CLASS
		           
		        if (col_CLASS.name === "THIRD_CLASS" ) {
					grdMain.setColumnProperty(col_CLASS.name,"dynamicStyles",function(grid, index, value){
		      			var gubun = grid.getValue(index.itemIndex,"ROUTING_ID_NM");
		      	        var ret = {};
		      	        switch (gubun) {
		      	        	//구분값이 T이면 text에디터를 표시
		      	            case '2-T':  
		      	            	ret.editor = {
		      	                	type: "dropDown",
		      	                    domainOnly : true, 
		      	                    textReadOnly: true,
		          	                values:gfn_getArrayExceptInDs(codeRoutingThirdClass_2_T, "CODE_CD", ""),
		          	                labels:gfn_getArrayExceptInDs(codeRoutingThirdClass_2_T, "CODE_NM_KR", "")
		      	                }
		      	                break;
		      	            case '2-M':  
		      	            	ret.editor = {
		      	                	type: "dropDown",
		      	                    domainOnly : true, 
		      	                    textReadOnly: true,
		          	                values:gfn_getArrayExceptInDs(codeRoutingThirdClass_2_M, "CODE_CD", ""),
		          	                labels:gfn_getArrayExceptInDs(codeRoutingThirdClass_2_M, "CODE_NM_KR", "")
		      	                }
		      	                break;
		      	            case '2-L':  
		      	            	ret.editor = {
		      	                	type: "dropDown",
		      	                    	domainOnly : true, 
		      	                        textReadOnly: true,
		          	                	values:gfn_getArrayExceptInDs(codeRoutingThirdClass_2_L, "CODE_CD", ""),
		          	                	labels:gfn_getArrayExceptInDs(codeRoutingThirdClass_2_L, "CODE_NM_KR", "")
		      	                        
		      	                    }
		      	                break;
		      	    	}
		      	        return ret;
					});
		
		      		grdMain.setColumnProperty("THIRD_CLASS","displayCallback",function(grid, index, value) {
						var gubun = grid.getValue(index.itemIndex,"ROUTING_ID_NM");
		        		var retValue = value;
						if (gubun === '2-T') {
				        	var idx = gfn_getArrayExceptInDs(codeRoutingThirdClass_2_T, "CODE_CD", "").indexOf(value);
				            retValue = gfn_getArrayExceptInDs(codeRoutingThirdClass_2_T, "CODE_NM_KR", "")[idx];
				        }
						if (gubun === '2-M') {
				        	var idx = gfn_getArrayExceptInDs(codeRoutingThirdClass_2_M, "CODE_CD", "").indexOf(value);
				            retValue = gfn_getArrayExceptInDs(codeRoutingThirdClass_2_M, "CODE_NM_KR", "")[idx];
				        }
						if (gubun === '2-L') {
				        	var idx = gfn_getArrayExceptInDs(codeRoutingThirdClass_2_L, "CODE_CD", "").indexOf(value);
				            retValue = gfn_getArrayExceptInDs(codeRoutingThirdClass_2_L, "CODE_NM_KR", "")[idx];
				        }
						return retValue;
		        	});
				}// END OF IF col_THIRD_CLASS
			}
		}); //END OF $.each(MEASURE.user

    }// END OF func_setColumnProperty
    
</script>
</th:block>
</html>
