<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block th:replace="~{th/layout/fragments/head :: headFragment('N')}"></th:block>
	<!-- content script -->
    <th:block layout:fragment="headStyle"></th:block>
</head>
<body id="framesb">
	<div id="a" class="split split-horizontal" th:classappend="${menuInfo.producthrcyYn != 'Y' and menuInfo.customerhrcyYn != 'Y' and menuInfo.salesOrghrcyYn != 'Y'} ? 'content'">
        <div id="c" class="split content" th:if="${menuInfo.producthrcyYn == 'Y' or menuInfo.customerhrcyYn == 'Y' or menuInfo.salesOrghrcyYn == 'Y'}">
		 	<!-- left tree -->
        	<th:block th:replace="~{th/layout/fragments/leftTree :: treeFragment}"></th:block>
        </div>
        
		<th:block th:if="${menuInfo.producthrcyYn == 'Y' or menuInfo.customerhrcyYn == 'Y' or menuInfo.salesOrghrcyYn == 'Y'}">
        <div id="d" class="split content">
		</th:block>
        	<!-- left filter -->
			<form id="searchForm" name="searchForm">
			
			<!-- hidden form -->
	    	<th:block layout:fragment="searchFormHidden"></th:block>
	    
			<div id="filterDv">
				<div class="inner">
					<h3>Filter</h3>
					
					<!-- filter html -->
	    			<th:block layout:fragment="filter"></th:block>
	    			
					<div class="bt_btn">
						<a href="#" class="fl_app" id="btnSearch" th:text="#{lbl.search}"></a>
					</div>
				</div>
			</div>
			</form>
		<th:block th:if="${menuInfo.producthrcyYn == 'Y' or menuInfo.customerhrcyYn == 'Y' or menuInfo.salesOrghrcyYn == 'Y'}">
		</div>
		</th:block>
	</div>
	
	<!-- contents -->
	<div id="b" class="split split-horizontal">
		<div id="e" class="split content" style="border:0;background:transparent;">
			<th:block layout:fragment="contentE"></th:block>
		</div>
		<div id="f" class="split content" style="border:0;">
			<th:block layout:fragment="contentF"></th:block>
		</div>
	
    </div>
	
	<!-- hidden form -->
	<th:block th:replace="~{th/layout/fragments/script :: commonFormFragment('N')}"></th:block>

	<!-- 공통 script -->
    <th:block th:replace="~{th/layout/fragments/script :: scriptFragment('N','Y')}"></th:block>

	<!-- location 공통 script -->
    <th:block th:replace="~{th/layout/fragments/commonLocation :: scriptFragment}"></th:block>
    
    <!-- left tree script -->
   	<th:block th:replace="~{th/layout/fragments/leftTree :: treeScriptFragment}" th:if="${menuInfo.producthrcyYn == 'Y' or menuInfo.customerhrcyYn == 'Y' or menuInfo.salesOrghrcyYn == 'Y'}"></th:block>

	<!-- content script -->
    <th:block layout:fragment="contentjs"></th:block>
</body>
</html>