<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="viewFragment">
	<div class="location">
		<img th:src="@{/statics/images/common/ico_home.gif}" alt=""> 
		
		<th:block th:if="${menuInfo?.level3Nm} != null">
		<img th:src="@{/statics/images/common/img_location_ar.gif}" alt="" th:text="' ' + ${menuInfo?.level1Nm} + '&nbsp;'">
		<img th:src="@{/statics/images/common/img_location_ar.gif}" alt="" th:text="' ' + ${menuInfo?.level2Nm} + '&nbsp;'">
		<img th:src="@{/statics/images/common/img_location_ar.gif}" alt="" > <strong th:text="${menuInfo?.level3Nm}"></strong>
		<font style="color:red" id="invenTrans" th:if="${menuInfo.menuCd} == 'SNOP205'" th:text="#{lbl.invenWeek}"></font>
		<font style="color:red" id="grCompRate" th:if="${menuInfo.menuCd} == 'MP205'" th:text="#{lbl.grCompRate}"></font>
		</th:block>
		
		<div class="fnc">
            <a href="#" id="allItem" style="padding-top:7px;" th:if="${menuInfo.menuCd} == 'APS407'"><img th:src="@{/statics/images/common/square.png}" title="All Item"></a>
			
			<a href="#" class="viewfnc6" th:if="${menuInfo?.level3Nm} != null"><img th:src="@{/statics/images/common/btn_gun6.gif}" title="My Favorite"></a>
			
			<a href="#" class="viewfnc1" th:if="${menuInfo.decimalYn} == 'Y'"><img th:src="@{/statics/images/common/btn_gun1.gif}" title="Decimal"></a>
			<a href="#" class="viewfnc2" th:if="${menuInfo.measureYn} == 'Y'"><img th:src="@{/statics/images/common/btn_gun2.gif}" title="Measure Configration"></a>
			<a href="#" class="viewfnc3" th:if="${menuInfo.dimensionYn} == 'Y'"><img th:src="@{/statics/images/common/btn_gun3.gif}" title="Dimension Configration"></a>

			<a href="#" class="viewfnc4" th:if="${menuInfo.sqlYn} == 'Y'"><img th:src="@{/statics/images/common/btn_gun4.gif}" title="SQL View"></a>
			<a href="#" class="viewfnc5" th:if="${menuInfo.excelYn} == 'Y'"><img th:src="@{/statics/images/common/btn_gun5.gif}" title="Excel Download"></a>
			<a href="#" class="viewfnc7" id="viewfnc7" style="display:none;" th:if="${menuInfo.excelYn} == 'Y'"><img th:src="@{/statics/images/common/btn_gun5.gif}" title="Excel Download"></a>
		</div>
	</div>
	
	<th:block th:if="${menuInfo.producthrcyYn} == 'Y' or ${menuInfo.customerhrcyYn} == 'Y' or ${menuInfo.salesOrghrcyYn} == 'Y'">
	<div class="srhTab">
		<ul>
			<li th:if="${menuInfo.producthrcyYn} == 'Y'"><strong>Product :</strong> <span id="loc_product">All</span></li> 
			<li th:if="${menuInfo.customerhrcyYn} == 'Y'"><strong>Customer :</strong> <span id="loc_customer">All</span></li>
			<li th:if="${menuInfo.salesOrghrcyYn} == 'Y'"><strong>Sales Org  :</strong> <span id="loc_salesOrg">All</span></li>  
		</ul>
	</div>
	</th:block>
	
</th:block>

<th:block th:fragment="scriptFragment">
	<script th:inline="javascript">
	var lv_conFirmFlag = true;
	$("document").ready(function () {
		var params = { P_MENU_CD : /*[[${menuInfo.menuCd}]]*/'' };
		$(".viewfnc1").click("on", function() { gfn_doNumberFormat(); }); //소수점 표현
		$(".viewfnc2").click("on", function() { gfn_comPopupOpen("MEASURE", params); });
		$(".viewfnc3").click("on", function() { gfn_comPopupOpen("DIMENSION", params); });
		$(".viewfnc4").click("on", function() { fn_apply(true); });

		$(".viewfnc5").click("on", function() { 
			if (params.P_MENU_CD == "APS304") {
				var vPlan = $('input[name="planSummary"]:checked').val();
				if (vPlan == "PROD_PART_CD") {
					gfn_doExportExcel({fileNm: /*[[${menuInfo.menuNm}]]*/"", conFirmFlag: lv_conFirmFlag, topView : true});
				} else if(vPlan == "REP_CUST_GROUP_CD"){
					gfn_doExportExcel({fileNm:/*[[${menuInfo.menuNm}]]*/"", conFirmFlag: lv_conFirmFlag, gridIdx : 1, topView : true});
				}
			} else {
				gfn_doExportExcel({fileNm:/*[[${menuInfo.menuNm}]]*/"", conFirmFlag: lv_conFirmFlag, topView : true});	
			}
		});
		
		if (params.P_MENU_CD == "APS405") {
			$("#viewfnc7").show();
			$(".viewfnc7").click("on", function() { gfn_doExportExcel({fileNm:/*[[${menuInfo.menuNm}]]*/"", conFirmFlag: lv_conFirmFlag, gridIdx : 1}); });
		}
		
		$(".viewfnc6").click("on", function() { gfn_bookMark(); }); //즐겨찾기

		$('#allItem').click("on",function() {
			gfn_comPopupOpen("MAT_REQUIR_PLAN_DETAIL", {
	            rootUrl    : "aps/planResult",
	            url        : "matRequirPlanDetailItemAll",
	            width      : 1200,
	            height     : 680,
	            companyCd  : /*[[${session.GV_COMPANY_CD}]]*/"",
	            buCd       : /*[[${session.GV_BU_CD}]]*/"",
	            planId     : $('#planId').val(),
	            
	            procurType : $('#procurType').val(),
	            itemGroup  : $('#itemGroup').val(),
	            itemType   : $('#itemType').val(),
	            mrpQtyTot  : $('#mrpQtyTot').val(),
	            molQtyTot  : $('#molQtyTot').val(),
	            item_cd    : $('#item_cd').val(),
	            parentItem_cd: $('#parentItem_cd').val()
	        });
		});
	});
	
	</script>
</th:block>
	
</html>