<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="filterMonthSumFragment">
<ul class="treeNav">
	<li><a id="btnMonthOut" href="#" style="display:none;">MonthOut</a></li>
	<li><a id="btnMonth" href="#">Month</a></li>
	<li><a id="btnSum" href="#">Omit Sum</a></li>
	<li><a id="btnOmit0" href="#">Omit 0</a></li>
</ul>
</th:block>

<th:block th:fragment="filterViewHorizonMonthFragment">
<div id="view_Her">
	<strong class="filter_tit" id="filter_tit">View Horizon</strong>
	<div class="tlist">
		<div class="tit" th:text="#{lbl.month}"></div>
		<input type="text" id="fromMon" name="fromMon" class="iptdate datepicker2 monthpicker" value="2016-08"/> <span class="ihpen">~</span>
		<input type="text" id="toMon" name="toMon" class="iptdate datepicker2 monthpicker" value="2016-12"/>
	</div>
</div>
</th:block>

<th:block th:fragment="filterViewHorizonFragment(radioYn, wType)">
<div id="view_Her">
	<strong class="filter_tit" id="filter_tit">View Horizon</strong>
	<ul class="rdofl" th:if="${radioYn} == 'Y'">
		<li><input type="radio" id="rSWeek" name="vhWeekType" value="SW" onchange="javascript:gfn_setViewH();" th:checked="${wType} == 'SW'"><label for="rSWeek" th:text="#{lbl.stdWeek}"></label></li>
		<li><input type="radio" id="rPweek" name="vhWeekType" value="PW" onchange="javascript:gfn_setViewH();" th:checked="${wType} != 'SW'"><label for="rPweek" th:text="#{lbl.partialWeek}"></label></li>
	</ul>
	<div class="tlist">
		<div class="tit2" th:text="#{lbl.start}"></div>
		<input type="text" id="fromCal" name="fromCal" class="iptdate datepicker1" readonly value="" />
		<input th:type="${wType} == 'SW' ? 'hidden' : 'text'" id="fromPWeek" name="fromPWeek" class="iptdateweek" disabled="disabled" value=""/>
		<input th:type="${wType} == 'SW' ? 'text' : 'hidden'" id="fromWeek" name="fromWeek" class="iptdateweek" disabled="disabled" value=""/>
		<input type="hidden" id="swFromDate" name="swFromDate"/>
		<input type="hidden" id="pwFromDate" name="pwFromDate"/>
	</div>
	<div class="tlist">
		<div class="tit2" th:text="#{lbl.end}"></div>
		<input type="text" id="toCal" name="toCal" class="iptdate datepicker2" readonly value="" />
		<input th:type="${wType} == 'SW' ? 'hidden' : 'text'" id="toPWeek" name="toPWeek" class="iptdateweek" disabled="disabled" value=""/>
		<input th:type="${wType} == 'SW' ? 'text' : 'hidden'" id="toWeek" name="toWeek" class="iptdateweek" disabled="disabled" value=""/>
		<input type="hidden" id="swToDate" name="swToDate"/>
		<input type="hidden" id="pwToDate" name="pwToDate"/>
	</div>
</div>
</th:block>

</html>