<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment(popupYn)">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <link rel="stylesheet" th:href="@{/statics/css/jquery-ui.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/statics/css/multiple-select.css}" type="text/css" />
	
	<!-- Publish -->
	<link rel="stylesheet" th:href="@{/statics/css/style.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/statics/css/themes/normalize.css}" type="text/css" />
	
	<th:block th:if="${popupYn =='Y'}">
	<link rel="stylesheet" th:href="@{//statics/css/zTreeStyle/zTreeStyle.css}" type="text/css" />
	<th:block th:if="${chartYn =='Y'}">

	<link th:href="@{/statics/js/quill/quill.snow.css}" rel="stylesheet"> 
    
	<title></title>
</th:block>
</html>