<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 공통으로 쓰이는 script 파일을넣는다.-->
<th:block th:fragment="scriptFragment(popupYn, chartYn)">
    <script th:inline="javascript">
    	var GV_DEV_MODE = /*[[${@environment.getProperty('props.devMode')}]]*/'';
    	var CONTEXT_PATH = "[(@{/})]"
   		var GV_CONTEXT_PATH = CONTEXT_PATH.substr(0, CONTEXT_PATH.length-1);
		var monthMessage = 'msg.filterMonth 사용하는곳 찾아야함';
		var monthOutMessage = 'msg.filterMonthOut 사용하는곳 찾아야함';
	</script>
	
	<script th:src="@{/static/js/jquery/jquery-3.1.0.min.js}"></script>
	<script th:src="@{/static/js/jquery/jquery.form.js}"></script>
	
	<script th:src="@{'/static/js/realgrid/'+${@environment.getProperty('props.realgridLic')}+'.js'}"></script>
	<script th:src="@{'/static/js/realgrid/'+${@environment.getProperty('props.realgridjs')}+'.js'}"></script>
	<script th:src="@{'/static/js/realgrid/'+${@environment.getProperty('props.realgridapi')}+'.js'}"></script>
	<script th:src="@{/static/js/realgrid/RealGridSkins.js}"></script>
	<script th:src="@{/static/js/realgrid/jszip.min.js}"></script>
	
	<script th:src="@{/static/js/biz/comutil.js}"></script>
	<script th:src="@{/static/js/biz/objutil.js}"></script>
	<script th:src="@{/static/js/biz/gridutil.js}"></script>
	<script th:src="@{/static/js/biz/common.js}"></script>
	
	<th:block th:if="${popupYn} != 'Y'">
	<script th:src="@{/static/js/jquery/jquery.ztree.core.js}"></script>
	<script th:src="@{/static/js/jquery/jquery.ztree.excheck.js}"></script>
	</th:block>

	<script th:src="@{/static/js/jquery/jquery.blockUI.js}"></script>
	<script th:src="@{/static/js/jquery/multiple-select.js}"></script>
	<script th:src="@{/static/js/jquery/jquery-ui.js}"></script>
	<script th:src="@{/static/js/jquery/jquery.ui.monthpicker.js}"></script>
	
	<!-- Publish -->
	<th:block th:if="${popupYn} != 'Y'">
	<script th:src="@{/static/js/pub/pubCommon.js}"></script>
	</th:block>

	<script th:src="@{/static/js/pub/datepicker.kr.js}"></script>
	<script th:src="@{/static/js/pub/split.js}"></script>
	<script th:src="@{/static/js/jquery/jquery.inputmask.bundle.min.js}"></script>
	
	<!-- chart -->
	<th:block th:if="${chartYn} == 'Y'">
	<script th:src="@{/static/js/highcharts/highcharts.js}"></script>
	<script th:src="@{/static/js/highcharts/highcharts-more.js}"></script>
	<script th:src="@{/static/js/highcharts/heatmap.js}"></script>
	<script th:src="@{/static/js/highcharts/exporting.js}"></script>
	</th:block>
	
	<script th:src="@{/static/js/quill/quill.js}"></script>
	<script th:src="@{/static/js/node_modules/quill-image-resize-module/image-resize.min.js}"></script>
	<script th:src="@{/static/js/node_modules/quill-image-drop-module/image-drop.min.js}"></script>
	
	<script th:inline="javascript">

	/*[# th:if="${popupYn} != 'Y'"]*/
	$(window).resize(function(event) {
		var browser_width = window.innerWidth || document.body.clientWidth;
		if (browser_width < 450) {			
			event.preventDefault();
			return false;
		}
		
		gfn_tabresize();
	}).resize();
	/*[/]*/
	

	//그리드 설정 ----------------------------------------------------------------
	try {
		RealGridJS.setRootContext(GV_CONTEXT_PATH + "/static/js/realgrid");
	} catch(e) {
		console.log(e);
	}

	// Input에 입력시 공백 제거 및 Enter시 조회 호출
	$(document).ready(function () {
		$("#divTempLayerPopup").draggable({containment: '#wrap', scroll: false});
		$("#divTempLayerPopup").resizable({   
			minHeight: 100,
		   	minWidth: 100
		});
		
		// INPUT 에서 Enter 시 조회 기능 구현.
		var tmpEnFlag = "N"; 
		/*[# th:if="${popupYn == 'Y'}"]*/
		tmpEnFlag = "Y";
		/*[/]*/
		
		if ((typeof(enterSearchFlag) != "undefined" && enterSearchFlag == "Y") || tmpEnFlag == "Y") gfn_setEnterSearch();

		/*[-# th:if="${popupYn != 'Y'}"]*/
		gfn_tabresize();
		if($("#filterDv .scroll").hasVerticalScrollBar()){
			selectorAWidth = "270px";
		} else {
			selectorAWidth = "249px";
		}
		gfn_tabresize();
		/*[/-]*/
	});
	
	</script>
</th:block>

<th:block th:fragment="commonFormFragment(popupYn)">
	<div>
		<th:block th:if="${popupYn} != 'Y'">
	   	<form id="commonForm" name="commonForm" method="POST" onSubmit="return false;">
	       	<input type="hidden" id="menuCd" name="menuCd" th:value="${menuInfo?.menuCd}" />
	       	<input type="hidden" id="frameMenuCd" name="frameMenuCd" th:value="${menuInfo?.frameMenuCd}" />
	       	<input type="hidden" id="dimensionYn" name="dimensionYn" th:value="${menuInfo?.dimensionYn}" />
	       	<input type="hidden" id="measureYn" name="measureYn" th:value="${menuInfo?.measureYn}" />
	       	<input type="hidden" id="producthrcyYn" name="producthrcyYn" th:value="${menuInfo?.producthrcyYn}" />
	       	<input type="hidden" id="customerhrcyYn" name="customerhrcyYn" th:value="${menuInfo?.customerhrcyYn}" />
	       	<input type="hidden" id="salesOrghrcyYn" name="salesOrghrcyYn" th:value="${menuInfo?.salesOrghrcyYn}" />
	       	<input type="hidden" id="dimFixYn" name="dimFixYn" th:value="${menuInfo?.dimFixYn}" />
	       	<input type="hidden" id="saveYn" name="saveYn" th:value="${menuInfo?.saveYn}" />
	       	<input type="hidden" id="subMenuCnt" name="subMenuCnt" th:value="${menuInfo?.subMenuCnt}" />
	       	<input type="hidden" id="comBucketMask" name="comBucketMask" th:value="${menuInfo?.comBucketMask}" />
	       	<input type="hidden" id="menuType" name="menuType" th:value="${menuInfo?.menuType}" />
	       	<input type="hidden" id="menuParam" name="menuParam" th:value="${menuInfo?.menuParam}" />
	   	</form>
	   	</th:block>
	   	
	   	<form id="commonPopForm" name="commonPopForm" method="POST" onSubmit="return false;" th:action="@{/}">
	   	</form>
	   	
	   	<th:block th:if="${popupYn} == 'Y'">
       	<input type="hidden" id="menuCd" name="menuCd" th:value="${menuInfo?.menuCd}" />
   	   	<input type="hidden" id="saveYn" name="saveYn" th:value="${menuInfo?.saveYn}" />
	   	</th:block>
	</div>
	<div id="divFindPopup" class="popup" style="display:none"></div>
	<div id="divTempLayerPopup" class="popup" style="display:none"></div>
	<div id="divTreeFindPopup" class="popup" style="display:none"></div>
	<div class="back"></div>
	<div class="back_white"></div>
</th:block>
</html>