<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	 	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>
	<body>
		<div id="myPdf"></div>
	 	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.8/pdfobject.min.js"></script>
		<script>
		var option = {
				height: "97vh",
				pdfOpenParams: {view: 'FitV'}
		}
		PDFObject.embed("http://localhost:8081/file/downloadpdf", "#myPdf", option);
	    </script>
	</body>
</html>